In [23]:
import yfinance as yf
import pandas as pd

In [31]:
tickers = ["CPRX", "UTHR", "INCY", "QGEN"]

In [32]:
data = {}
for i in tickers: 
    ticker= yf.Ticker(i)
    df = ticker.history('5Y')
    data[i] = df

In [33]:
data = pd.concat(data, axis = 0, ignore_index = True)

In [34]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2.520000,2.680000,2.520000,2.640000,923400,0.0,0.0
1,2.630000,2.700000,2.540000,2.570000,887700,0.0,0.0
2,2.570000,2.600000,2.500000,2.570000,662600,0.0,0.0
3,2.560000,2.640000,2.550000,2.590000,627900,0.0,0.0
4,2.570000,2.630000,2.570000,2.610000,502600,0.0,0.0
...,...,...,...,...,...,...,...
5027,42.730000,43.840000,42.730000,43.799999,2575300,0.0,0.0
5028,43.180000,44.130001,43.180000,44.099998,2104700,0.0,0.0
5029,44.650002,45.299999,44.480000,45.270000,2064500,0.0,0.0
5030,45.209999,45.880001,44.730000,44.930000,1747600,0.0,0.0
5031,44.490002,45.035000,44.490002,44.939999,1103313,0.0,0.0